In [1]:
import numpy as np
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import NoSuchFrameException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select

Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:

    A) Rank
    B) Name
    C) Artist
    D) Upload date
    E) Views

In [14]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.execute_script("window.scrollTo(0, 1600);")

In [30]:
alldetails=[]
ald=driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td')
for a in ald:
    alldetails.append(a.text)
    
rank=alldetails[0::6]
name=alldetails[1::6]
artist=alldetails[2::6]
uploadDate=alldetails[4::6]
views=alldetails[3::6]

In [32]:
mostviewedvideo=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':uploadDate,"Views(billions)":views})
mostviewedvideo

,Rank,Name,Artist,Upload Date,Views(billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.06
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.47
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.60
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.40
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.20
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.45
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.39
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.35
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.25
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.14
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.04
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.52
12,13.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.49
13,14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.40
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.35
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.30
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.20
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.11
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.11
20,21.,"""Girls Like You""[46]",Maroon 5,"May 31, 2018",3.08
21,22.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.08
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.07
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.07
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.04
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.95
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.91
27,28.,"""Axel F""[53]",Crazy Frog,"June 16, 2009",2.91
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.90
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.86

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

    A) Match title (I.e. 1 st ODI)
    B) Series
    C) Place
    D) Date
    E) Time
    Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [42]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')
time.sleep(2)

international=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
international.click()
time.sleep(2)

fixture=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')
fixture.click()
time.sleep(2)

matchtitle=[] # match title
matchtitlE=driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]')
for mt in matchtitlE:
    matchtitle.append(mt.text.replace('\n',' '))

#time.sleep(2)

#series and place
seriesandplace=[]
seriesnplacE=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]')
for p in seriesnplacE:
    seriesandplace.append(p.text.split('\n'))
    
series=[s[0] for s in seriesandplace] # series
place=[p[1] for p in seriesandplace ] # place

# retrive date and time
dateandtime=[]
datentime=driver.find_elements_by_xpath('//div[@class="fixture__full-date"]')
for dnt in datentime:
    dateandtime.append(dnt.text.split('\n'))
    
date=[d[0]+' '+d[1] for d in dateandtime]
time=[t[2] for t in dateandtime]

In [43]:
bcci=pd.DataFrame()
bcci['Match Title']=matchtitle
bcci['Series']=series
bcci['Place']=place
bcci['Date']=date
bcci['Time']=time

bcci

,Match Title,Series,Place,Date,Time
0,TEST ENGLAND V INDIA 2021,1st Test,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST
1,TEST ENGLAND V INDIA 2021,2nd Test,"Lord's, London",12 AUGUST,15:30 IST
2,TEST ENGLAND V INDIA 2021,3rd Test,"Headingley, Leeds",25 AUGUST,15:30 IST
3,TEST ENGLAND V INDIA 2021,4th Test,"The Oval, London",02 SEPTEMBER,15:30 IST
4,TEST ENGLAND V INDIA 2021,5th Test,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:

    A) Name
    B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [5]:
driver=webdriver.Chrome()
driver.get('https://www.guru99.com/') # opening site

selenium=driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]').click() # finding selenium in page and click on it.
driver.maximize_window()
time.sleep(2)
driver.execute_script("window.scrollTo(0,3200);")

# try:
#     closepopup=driver.find_element_by_xpath('//div[@class="cb-close"]').click()
# except NoSuchElementException:
#     pass

urls=[]
listelem=driver.find_elements_by_xpath('//td[@class="responsivetable"]//a')
for i in listelem:
    urls.append(i.get_attribute('href'))
    
driver.get(urls[-19])
table=driver.find_elements_by_xpath('//table[@class="table table-striped"]')

In [7]:
name=[]
description=[]

for i in range(2,43):
    nam=driver.find_element_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr[{}]/td[1]'.format(i))
    name.append(nam.text)

    desc=driver.find_element_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr[{}]/td[2]'.format(i))
    description.append(desc.text)

In [9]:
exceptionhandling=pd.DataFrame({'Name':name,'Description':description})
exceptionhandling

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
    
    A) Rank
    B) State
    C) GSDP at current price (19-20)
    D) GSDP at current price (18-19)
    E) Share(18-19)
    F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [55]:
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/')
time.sleep(2)
economy=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
time.sleep(2)

india=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').click()
time.sleep(2)
driver.maximize_window()
time.sleep(5)

# adbutton=driver.find_element_by_xpath('//div[@class="btn skip"]').click()
# time.sleep(2)

indianstategdp=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(2)

driver.execute_script("window.scrollTo(0,1500);")

rank=[]
ranK=driver.find_elements_by_xpath('//td[@class="data1"]')
for rnk in ranK:
    rank.append(rnk.text)
    
statename=[]
statenamE=driver.find_elements_by_xpath('//td[@class="name"]')
for name in statenamE:
    statename.append(name.text)
    
Gsdp1920=[]
gsdp1920=driver.find_elements_by_xpath('//td[@class="data"]')
for gsdp in gsdp1920:
    Gsdp1920.append(gsdp.text)
    
GSDp1819=[]
gsdp1819=driver.find_elements_by_xpath('//td[@class="data sorting_1"]')
for gsdp1 in gsdp1819:
    GSDp1819.append(gsdp1.text)
    
GSDP_19_20=Gsdp1920[0::5]
share1819=Gsdp1920[1::5]
GDPinBillion=Gsdp1920[2::5]

statewiseGDP=pd.DataFrame()
statewiseGDP['Rank']=rank[:33]
statewiseGDP['State']=statename[:33]
statewiseGDP['GSDP at current price (19-20)']=GSDP_19_20[:33]
statewiseGDP['GSDP at current price (18-19)']=GSDp1819[:33]
statewiseGDP['Share (18-19)']=share1819[:33]
statewiseGDP['GDP ($ billions)']=GDPinBillion[:33]

statewiseGDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19),GDP ($ billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
    

    A) Repository title
    B) Repository description
    C) Contributors count
    D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [56]:
driver=webdriver.Chrome()
driver.get('https://github.com/trending')

In [57]:
repositorytitle=[]
repositoryt=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]//a')
for repot in repositoryt:
    repositorytitle.append(repot.text)

repositorydescription=[]
repositoryd=driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
for repd in repositoryd:
    repositorydescription.append(repd.text)

languageused=[]
languageuseD=driver.find_elements_by_xpath('//span[@itemprop="programmingLanguage"]')
for language in languageuseD:
    languageused.append(language.text)
    
contributiondata=[]
contributionData=driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]')
for cd in contributionData:
    contributiondata.append(cd.text)
contribution=contributiondata[0::2]

In [58]:
github=pd.DataFrame()
github['Repository title']=repositorytitle[:22]
github['Repository descripition']=repositorydescription
github['Language Used']=languageused
github['Contributors count']=contribution[:22]
github

,Repository title,Repository descripition,Language Used,Contributors count
0,apple / swift-algorithms,Commonly used sequence and collection algorith...,Swift,"3,371"
1,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,JavaScript,"327,548"
2,SJang1 / korea-covid-19-remaining-vaccine-macro,잔여백신 조회 및 예약 매크로,Python,337
3,dataease / dataease,人人可用的开源数据可视化分析工具。,Java,"1,295"
4,google / googletest,GoogleTest - Google Testing and Mocking Framework,C++,"23,324"
5,myspaghetti / macos-virtualbox,"Push-button installer of macOS Catalina, Mojav...",Shell,"8,859"
6,tailscale / tailscale,"The easiest, most secure way to use WireGuard ...",Go,"5,055"
7,electron / electron,Build cross-platform desktop apps with JavaScr...,C++,"95,040"
8,Satsuoni / widevine-l3-guesser,decompiled pegasus_spyware,C,160
9,jonathandata1 / pegasus_spyware,"50+ mini web projects using HTML, CSS & JS",Smali,253
10,bradtraversy / 50projects50days,Development repository for the Triton language...,CSS,"7,489"
11,openai / triton,Web app for adding EU Digital COVID Certificat...,C++,"2,393"
12,covidpass-org / covidpass,Open-source repository of Orbiter Space Flight...,TypeScript,793
13,mschweiger / orbiter,Please do not use this tracker to scam anyone!...,C++,973
14,ed3ath / cbtracker,分享 GitHub 上有趣、入门级的开源项目,JavaScript,124
15,521xueweihan / HelloGitHub,Sample apps built using the Xamarin.Forms fram...,Python,"45,377"
16,xamarin / xamarin-forms-samples,The lightweight PyTorch wrapper for high-perfo...,C#,"3,906"
17,PyTorchLightning / pytorch-lightning,A collection of extension libraries for Jetpac...,Python,"14,822"
18,google / accompanist,Tracking interesting Linux (and UNIX) malware....,Kotlin,"2,512"
19,rafaballerini / rafaballerini,Collection of Summer 2022 tech internships!,Shell,366
20,Anbox-halium / anbox-halium,"Build Mobile, Desktop and WebAssembly apps wit...",Python,321
21,timb-machine / linux-malware,Freely available programming books,C#,644

Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
    
    A) Song name
    B) Artist name
    C) Last week rank
    D) Peak rank
    E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [59]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/charts/hot-100')

driver.execute_script("window.scrollTo(0, 600);")

In [60]:
songname=[]
songnam=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for song in songnam:
    songname.append(song.text)
    
artistname=[]
artistnam=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for artist in artistnam:
    artistname.append(artist.text)
    
lastweekrank=[]
lastweekranK=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for lastweek in lastweekranK:
    lastweekrank.append(lastweek.text)
    
peak=[]
peaK=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for pek in peaK:
    peak.append(pek.text)
    
weekonboard=[]
weekonBoard=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for weekonbrd in weekonBoard:
    weekonboard.append(weekonbrd.text)

In [61]:
billboard=pd.DataFrame()
billboard['Song name']=songname
billboard['Artist name']=artistname
billboard['Last week rank']=lastweekrank
billboard['Peak rank']=peak
billboard['Weeks on board']=weekonboard

billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,7,1,9
1,Good 4 U,Olivia Rodrigo,2,1,10
2,Levitating,Dua Lipa Featuring DaBaby,4,2,42
3,Stay,The Kid LAROI & Justin Bieber,3,3,2
4,Kiss Me More,Doja Cat Featuring SZA,5,3,15
...,...,...,...,...,...
95,Build A Bitch,Bella Poarch,84,56,10
96,30,Pop Smoke Featuring Bizzy Banks,-,97,1
97,You Should Probably Leave,Chris Stapleton,91,90,3
98,"Jealousy, Jealousy",Olivia Rodrigo,87,24,9
99,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95,95,3

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:

    A) Name
    B) Designation
    C) Company
    D) Skills they hire for
    E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [67]:
driver=webdriver.Chrome()
driver.get('https://www.naukri.com/')
recruiter=driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
url=recruiter.get_attribute('href')
driver.get(url)

search=driver.find_element_by_xpath('//input[@rel="custom:1016"]')
search.send_keys('Data Science')
search.send_keys(Keys.ENTER)

In [68]:
count=1
person=[]
while(count<=119):
    try:
        if count==1:
            
            personprofile=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
            for pr in personprofile:
                person.append(pr.get_attribute('href'))
    
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
            nextbutton=driver.find_element_by_xpath('//button[@class="grayBtn"]')
            nextbutton.click()
        else:
            personprofile=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
            for pr in personprofile:
                person.append(pr.get_attribute('href'))
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
            nextbutton=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div/div[3]/button[2]')
            nextbutton.click()
    except:
        pass
    count+=1

In [70]:
namE=[]
designation=[]
company=[]
location=[]
skill=[]

for i in person:
    driver.get(i)
    try:
        name=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[2]/h1')
        namE.append(name.text)
    except NoSuchElementException:
        pass
    try:
        
        designatioN=driver.find_element_by_xpath('//div[@class="ellipsis"]')
        designation.append(designatioN.text)
    
    except NoSuchElementException:
        pass
    
    try:
        
        companY=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[4]/a')
        company.append(companY.text)
    except NoSuchElementException:
        pass
    
    try:
    
        locatioN=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a')
        location.append(locatioN.text)
    except NoSuchElementException:
        pass
    
    try:
            
        skilL=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div[1]/p[1]')
        skill.append(skilL.text)
    except NoSuchElementException:
        pass
    if len(namE)==300: # here I  bound the limit of execution 
        break

In [72]:
recruiter=pd.DataFrame()
recruiter['Name']=namE
recruiter['Designation']=designation
recruiter['Company']=company
recruiter['Skill']=skill
recruiter['Location']=location

recruiter

,Name,Designation,Company,Skill,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer , Internet Marketing Pro...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net , Java , Data Science , Linux Administrat...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Mid Level, Junior Level",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,", Mean Stack , javascript , angularjs , mongod...",Ahmedabad
4,subhas patel,Founder & CEO,LibraryXProject,"Hadoop , Spark , Digital Strategy , Data Archi...",UK - (london)
...,...,...,...,...,...
295,Talent Scout,Company HR,Super Highway Labs Private Limited (shuttl.com),Super Highway Labs Private Limited (shuttl.com),Gurgaon
296,Kiran,Company HR,Test Triangle Software Services Pvt Ltd,Test Triangle Software Services Pvt Ltd,Hyderabad / Secunderabad
297,Voonik Careers,Company HR,Voonik Technologies Private Limited,Voonik Technologies Private Limited,Bengaluru / Bangalore
298,Sujoy Dey,Company HR,AERONUBE TECHNOLOGY PRIVATE LIMITED,AERONUBE TECHNOLOGY PRIVATE LIMITED,Kolkata
299,Shilpi Sardana,Company HR,Premium Jobs,Premium Jobs,Noida

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
    
    A) Book name
    B) Author name
    C) Volumes sold
    D) Publisher
    E) Genre

In [ ]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
tableInfo=[]
tableinfo=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td')
for ti in tableinfo:
    tableInfo.append(ti.text)

In [36]:
bookname=tableInfo[1::6]
authorname=tableInfo[2::6]
volumesSold=tableInfo[3::6]
publisher=tableInfo[4::6]
genre=tableInfo[5::6]

top100bestsellingbook=pd.DataFrame({"Book name":bookname,"Author name":authorname,"Volumes sold":volumesSold,"Publisher":publisher,"Genre":genre})
top100bestsellingbook

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
    
    A) Name
    B) Year span
    C) Genre
    D) Run time
    E) Ratings
    F) Votes

In [66]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')
names=[]
name=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//a')
for n in name:
    names.append(n.text)
years=[]
year=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for y in year:
    years.append(y.text)
genera=[]
generA=driver.find_elements_by_xpath('//span[@class="genre"]')
for g in generA:
    genera.append(g.text)
    
runtime=[]
runtimE=driver.find_elements_by_xpath('//span[@class="runtime"]')
for r in runtimE:
    runtime.append(r.text)
    
ratings=[]
rating=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for ra in rating:
    ratings.append(ra.text)
ratings

otherdata=[]
other=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]')
for o in other:
    otherdata.append(o.text)
    
votes=otherdata[2::3]
votes=[v.replace('Votes: ','') for v in votes]

imdb=pd.DataFrame()
imdb['Name']=names
imdb['Year']=years
imdb['Genera']=genera
imdb['Runtime']=runtime
imdb['Rating']=ratings
imdb['Vote']=votes

imdb

,Name,Year,Genera,Runtime,Rating,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,846,377"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"884,216"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"884,876"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"265,953"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,751"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,983"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,680"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,525"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,546"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"194,835"

Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
    
    A) Dataset name
    B) Data type
    C) Task
    D) Attribute type
    E) No of instances
    F) No of attribute
    G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [62]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/ml/datasets.php?format=&task=&att=&area=&numAtt=&numIns=&type=&sort=nameUp&view=table')  

alldata=[] # store all data
alldatA=driver.find_elements_by_xpath('//p[@class="normal"]')
for data in alldatA:
    alldata.append(data.text)

In [63]:
usefuldata=alldata[8:]

In [64]:
datasetname=usefuldata[0::7]
datatypes=usefuldata[1::7]
defaultTask=usefuldata[2::7]
attributestypes=usefuldata[3::7]
instances=usefuldata[4::7]
attributes=usefuldata[5::7]
year=usefuldata[6::7]

In [65]:
uci=pd.DataFrame()
uci['DATASET Name']=datasetname[:588]
uci['Data Types']=datatypes[:588]
uci['Default Task']=defaultTask[:588]
uci['Attribute Types']=attributestypes[:588]
uci['Instances']=instances[:588]
uci['Attributes']=attributes[:588]
uci['Year']=year[:588]

uci

,DATASET Name,Data Types,Default Task,Attribute Types,Instances,Attributes,Year
0,2.4 GHZ Indoor Channel Measurements,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark)","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,: Simulated Data set of Iraqi tourism places,Multivariate,"Classification, Clustering",,232,16,2020
4,A study of Asian Religious and Biblical Texts,"Multivariate, Text","Classification, Clustering",Integer,590,8265,2019
...,...,...,...,...,...,...,...
583,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,,9800,3,2019
584,YouTube Multiview Video Games Dataset,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
585,YouTube Spam Collection,Text,Classification,,1956,5,2017
586,Z-Alizadeh Sani,,Classification,"Integer, Real",303,56,2017
587,Zoo,Multivariate,Classification,"Categorical, Integer",101,17,1990